# Ignore everything by default
*

# Whitelist
!/.gitignore
!/waybar/
!/waybar/**
!/hypr/
!/hypr/**
!/waypaper/
!/waypaper/**
!/nvim/
!/nvim/**
!/rofi/
!/rofi/**
!/btop/
!/btop/**
!/alacritty/
!/alacritty/**

# code
!/Code/
!/Code/User/
!/Code/User/settings.json
!/Code/User/mcp.json
